.App {
  text-align: center;
}

.divForm{
  margin-top: 200px;
}

.h2-login{
  color: rgb(0,87,154);
}

.ul-App {
  list-style: none;
} 

.friendsDiv{
  margin: 0 auto;
  border: 1px solid black;
  width: 80%;
}

.friend-div{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
 
}

.friend-div h4{
  margin-right: 10%;
}

.add-friend input{
  margin-left: 30px;
}










